<h1>Images from Google</h1>
<p>Images scraped from images.google.com</p>
<p><%= link_to "Home", home_page_path %></p>
<p><%= link_to "Scrape images from Marvel", marvel_image_scrape_path %></p>
<p>
</p>
<table>
  <tr>
    <th>Film</th>
    <th>Date</th>
    <th>image</th>
  </tr>

  <% @marvel_scraper.each_with_index do |film, i| %>
    <tr>
      <td><%= film[0] %></td>
      <td><%= film[1] %></td>
      <td><img src="<%=@google_images[i]%>" alt="<%=film[0]%>"></td>
    </tr>
  <% end %>
</table>
